@import '../../../shared/variables';

.app {
    height: 100vh;
    padding: 2.5vh;
    background-image: linear-gradient($gradient, $secondary);
    
    .app__container {
      height: 95vh;
      background-color: $white;           
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.25);
      display: grid;
      grid-template-rows: 10vh 75vh 10vh;    
    }
  }
    