@import '../../../shared/variables';

.article {
    display: grid;
    grid-template-rows: 5vh 17.5vh 25vh 27.5vh;
    color: $primary;
    .article__header {
        font-size: 12px;
        font-weight: 300;
        @include flex (space-around, center)
    }
    .article__title {
        color: $black;
        font-size: 1.2rem;
        @include flex(center, center);
        padding: 0 3vw;
    }
    .article__img {        
        width: 90%;
        max-width: 240px;
        max-height: 195px;
        justify-self: center;
        align-self: center;
    }
    .article__content {
        font-size: 16px;
        font-weight: 400;
        padding: 1vh 3vw;
        overflow: hidden;
    }    
}

@media only screen and (min-width: $sm_vw) {
    .article {        
        grid-template-rows: 5vh 12.5vh 30vh 27.5vh;
        .article__img {
            max-width: 320px;
            max-height: 600px;
        }
    }
}

@media only screen and (min-width: $md_vw) {
    .article {
        grid-template-rows: 5vh 12.5vh 40vh 17.5vh;
        .article__title {
            font-size: 2rem;
        }        
        .article__img {
            max-width: 500px;
            max-height: 600px;
        }
    }
}

@media only screen and (min-width: $lg_vw) {
    .article {
        grid-template-rows: 5vh 15vh 45vh 10vh;
        .article__img {
            max-width: 600px
        }
    }
}

@media only screen and (min-width: $xl_vw) {
    .article {        
        grid-template-rows: 5vh 10vh 47.5vh 12.5vh;
        .article__img {
            max-width: 650px;
        }
        .article__content {
            padding: 2vh 3vw;
        }
    }
}