@import '../../../shared/variables';

.main {
    display: grid;
    grid-template-rows: 67.5vh 7.5vh;
    align-items: center;         
    .main__main-article {
        background-color: $white;
        @include flex(center, flex-start);
    }    
    .main__preview-articles {
        display: none;
    }
}

@media only screen and (min-width: $md_vw) {
    .main {
        grid-template-columns: 2fr 1fr;        
        grid-template-rows: 1fr;        
        .main__preview-articles {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            max-height: 100%;
            grid-column: 2/3;
            grid-row: 1/2;
            overflow: hidden;
            box-shadow: 0 0 10px rgba($color: $primary, $alpha: 0.75);
        }        
        .slider {
            display: none;
        }
    }
}