@import '../../shared/variables';

.card {
    background-color: $white;
    height: 60vh;
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    padding: 0 5%;
    
    .card__date {
        color: $primary;
        font-size: 12px;
        font-weight: 400;
        align-self: flex-end;
        padding: 0 10px;
    }
    .card__title {
        color: $black;
        font-size: 18px;
        font-weight: 600;
        align-self: center;
        padding: 10px;
    }
    .card__img {        
        width: 240px;
        max-height: 195px;
        align-self: center;
    }    
    .card__subtitle {
        color: $primary;
        font-size: 12px;
        font-weight: 400;
        padding: 15px;
    }    
}

@media only screen and (min-width: $sm_vw) {
    .card {
        
        .card__date {
            font-size: 16px;
        }
        .card__title {
            font-size: 22px;
        }
        .card__subtitle {
            font-size: 16px;
        }
        .card__img {
            width: 650px;
            max-width: 90%;
            max-height: 600px;
        }
    }
}

@media only screen and (min-width: $md_vw) {
    .card {
        .card__date {
            align-self: flex-start;
        }
    }
}