@import '../../shared/layout/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 27px 0 15px;
  flex-grow: 1;

   .header__burger {
    width: 34px;
    height: 34px;
  }
}
